{% extends "base.html" %}

{% block content %}

{% if id != "" %}
    <h2>{{entries.title}}</h2>
    <br>
    {{entries.body}}
    <br>
    written by <a href="blog?user={{owner_name}}">{{owner_name}}</a>
{% elif owner_name != "" %}
    <h1>blog posts!</h1>
    {% if entries|length == 0 %}
        <p>No entries yet</p>
    {% else %}
        {% for entry in entries %}
            <h2><a href="blog?id={{entry.id}}">{{entry.title}}</a></h2>
            <br>
            {{entry.body}}
            <br>
            written by <a href="blog?user={{owner_name}}">{{owner_name}}</a>
        {% endfor %}
    {% endif %}
{% else %}
    <h1>blog posts!</h1>
    {% if entries|length == 0 %}
        <p>No entries yet</p>
    {% else %}
        {% for entry in entries %}
            <h2><a href="blog?id={{entry.id}}">{{entry.title}}</a></h2>
            <br>
            {{entry.body}}
            <br>
            {% for user in users %}
                {% if user.id == entry.owner_id %}
                    written by <a href="blog?user={{user.username}}">{{user.username}}</a>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endif %}

{% endblock %}