{% extends "base.html" %}

{% block content %}
<h1 align="center">Add a Blog Entry</h1>
<form method='post'>
    Title for your new blog:
    <br>
    <input type="text" name='title' />
    {% if error1 == "" %}
    <p></p>
    {% else %}
    <p class='error'>{{error1}}</p>
    {% endif %}
    <br>
    Your new blog:
    <br>
    <textarea name='body'></textarea>
    {% if error2 == "" %}
    <p></p>
    {% else %}
    <p class='error'>{{error2}}</p>
    {% endif %}
    <br>
    <input type="submit" value='Add Entry' />
</form>

{% endblock %}